# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Project specific
data/
checkpoints/
!checkpoints/training_history.csv
checkpoints/logs/
samples/
streamlit_out/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
